
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.container{
    max-width: 360px;
    margin: 0 auto;
}
.card{
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    border-radius:17px ;
    text-align: center;
}
.card img{
    border-radius: 17px;
    width: 100%;
}
.text{
    padding: 27px 10px;
    h1{
        padding-bottom: 15px;
        color:hsl(218, 44%, 22%) ;
    }
    p{
        color: hsl(220, 15%, 55%);
    }
}
